<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AdvanceCSharpCS"
         providerName="System.Data.SqlClient"
         connectionString="Server=localhost\SQL;
         Database=CSharpAdvanced;
         Integrated Security=True;
         Connect Timeout=30;
         Encrypt=False;
         TrustServerCertificate=False;
         ApplicationIntent=ReadWrite;
         MultiSubnetFailover=False;"/>
  </connectionStrings>
  </configuration>